Source: anansi-menu
Maintainer: Gijs Molenaar (launchpad ppa build key) <gijs@pythonic.nl>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9), python, dh-virtualenv 
Standards-Version: 3.9.5

Package: python-anansi-menu
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, dialog
Description: anansi menu
 make the world a more monitored place
